{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-8">
                {% include('messages.html') %}
                <h1>News</h1>
                {% for news in news_list %}
                <h3><a href='{{ url_for('news.single_news', news_id=news.id) }}'>{{news.title}}</a></h3>
                <p>{{ news.published.strftime("%d.%m.%Y в %H:%M") }} | Comments: {{ news.comments_count() }}</p>
                <hr />
                {% endfor %}
            </div>
            <div class="col-4">
                <h1>Weather</h1>
                <h3>
                {% if weather %}
                    Temperature is {{ weather.temp_C }}, feels like {{ weather.FeelsLikeC }}
                {% else %}
                    Service is unavailable
                {% endif %}</h3>
            </div>
        </div>
{% endblock %}